<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" media="all" href="style.css" />
	<script type="text/javascript" src="../js/tools.js"></script>
	<title>TWOP - Error</title>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-2038570-2");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
</head>

<body>
	<div id="top">
		<p><a href="http://www.givegoodweb.com/tools/page-check" title="instructions">?</a></p>
		<h1>TWOP One Pager <span>[beta]</span></h1>
	</div>
	<div id="content">
		
		<div id="head">
			<form onsubmit="return submitForm(this.submit)" method="get" action="http://www.givegoodweb.com/tools/twop/show">
			<p>Enter TWOP Review URL: <input type="text" name="url" value="http://" size="60" />
			<input type="submit" name="submit" value="Make 1 Page" />
			</form>
		</div>
		<h1 class="error">Oooooops!</h1>
		
		<p>Your request is perplexing! Please check the following recommendations, and try again:</p>
		<ol>
			<li>Make sure the page is actually a full <a href="http://www.televisionwithoutpity.com" title="Television Without Pity | Television Without Pity">TWOP Review</a>.</li>
			<li>Make sure the web page your are trying to check actually exists. Please verify it by opening it in a browser window.</li>
			<li>Once you are sure the web page does exist, and it is indeed a TWOP review, your safest bet is to cut/paste it's URL (which should start with http://) into the above form.</li>
			<li>Still no luck? Please let me know by leaving a comment on <a href="http://www.givegoodweb.com/post/64/twop-1pager" title="Turn TWOP Reviews Into One Page | GiveGoodWeb">this page</a> with the URL, thanks!</li>
		</ol>
		
		<p><b>Error:</b> $error</p>
		#if 'Could not open' in $error
			<p>(If the URL is valid, it is likely forbidding access to this tool.)</p>
		#end if

	</div>
	
	<div id="bottom">
		<p>Created by <a href="http://www.stoptimestudio.com/" title="Web Design and Development Studio in Chicago">Stop Time Studio</a> with <a href="http://www.python.org/" title="Python Programming Language -- Official Website">Python</a>, <a href="http://www.cheetahtemplate.org/" title="Cheetah - The Python-Powered Template Engine">Cheetah</a>, and a bowl of <a href="http://crummy.com/software/BeautifulSoup" title="Beautiful Soup: We called him Tortoise because he taught us.">Beautiful Soup</a>.</p>
	</div>
	
</body>
</html>
