<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" media="all" href="http://www.givegoodweb.com/tools/twop/style.css" />
	<title>One-Page-i-fy Long TWOP Reviews</title>
	<script type="text/javascript" src="../js/tools.js"></script>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-2038570-2");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
</head>

<body>
	<div id="top">
		<p><a href="http://www.givegoodweb.com/tools/twop/" title="instructions">?</a></p>
		<h1>TWOP One Pager <span>[beta]</span></h1>
	</div>
	<div id="content">
		
		<h2 style="border-bottom: 1px dashed #ddd;">What is the TWOP One Pager?</h2>
		<p>While <a href="http://www.televisionwithoutpity.com" title="Television Without Pity | Television Without Pity">Television Without Pity</a> reviews are hilarious, insightful, and fun, I don't appreciate having to navigate through 20 or more short pages. When something is that long, I'd like to print it out and read it when I'm not in front of the computer. Unfortunately, TWOP doesn't provide this functionality, so I created this little tool.</p>
		
		<p>When provided with a long review URL, this tool will attempt to parse all the pages within the review, and assemble them onto one page. Currently, it takes 1-2 seconds per page. So a 10 page review will take around 15 seconds to assemble <em>(the tool has to open every page, read it, identify the content, etc.)</em>. If the review you want does not work for any reason, please let me know so I can upgrade the tool. If it does work, you will be presented with a long web page that will print out nice and clean.</p>
		
		<h3 style="margin-bottom: 6px;">Get Your One Pager!</h3>
		<div id="head">
			<form onsubmit="return submitForm(this.submit)" method="get" action="http://www.givegoodweb.com/tools/twop/show">
			<p>Enter TWOP Review URL: <input type="text" name="url" value="http://" size="60" />
			<input type="submit" name="submit" value="Make 1 Page" />
			</form>
		</div>
		
		<h3 style="margin-top: 1em; border-bottom: 1px dashed #ddd;">Comments?</h3>
		<p>This is beta software - please let me know of any weirdness by leaving me a note in the comments section of the <a href="http://www.givegoodweb.com/post/64/twop-1pager" title="Turn TWOP Reviews Into One Page | GiveGoodWeb">accompanying blog entry</a>. Likewise, suggestions for improvements (and thank-you's) are appreciated as well.</p>

	</div>
	
	<div id="bottom">
		<p>Created and hosted by <a href="http://www.stoptimestudio.com/" title="Web Design and Development Studio in Chicago">Stop Time Studio</a> with <a href="http://www.python.org/" title="Python Programming Language -- Official Website">Python</a>, <a href="http://www.cheetahtemplate.org/" title="Cheetah - The Python-Powered Template Engine">Cheetah</a>, and a bowl of <a href="http://crummy.com/software/BeautifulSoup" title="Beautiful Soup: We called him Tortoise because he taught us.">Beautiful Soup</a>.</p>
	</div>
	
</body>
</html>
