<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>TWOP One Pager for: $title</title>
	<link rel="stylesheet" type="text/css" media="screen" href="http://www.givegoodweb.com/tools/twop/style.css" />
	<link rel="stylesheet" type="text/css" media="print" href="http://www.givegoodweb.com/tools/twop/print.css" />
	<script type="text/javascript" src="../js/tools.js"></script>
	<base href="$root_domain" target="" />	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-2038570-2");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
</head>

<body>
	<div id="top">
		<p><a href="http://www.givegoodweb.com/tools/twop/" title="instructions">?</a></p>
		<h1>TWOP One Pager <span>[beta]</span></h1>
	</div>
	
	<div id="content">
		<div id="head">
			<form onsubmit="return submitForm(this.submit)" method="get" action="http://www.givegoodweb.com/tools/twop/show">
			<p>Enter TWOP Review URL: <input type="text" name="url" value="$url" size="60" />
			<input type="submit" name="submit" value="Make 1 Page" />
			</form>
		</div>
		<p id="results">Results for URL: <a href="$url" target="_blank" title="Open in a new window">$url_short</a></p>
		<h1>$articleTitle</h1>
		$content
	</div>
		
	<div id="bottom">
		<p>Created and hosted by <a href="http://www.stoptimestudio.com/" title="Web Design and Development Studio in Chicago">Stop Time Studio</a> with <a href="http://www.python.org/" title="Python Programming Language -- Official Website">Python</a>, <a href="http://www.cheetahtemplate.org/" title="Cheetah - The Python-Powered Template Engine">Cheetah</a>, and a bowl of <a href="http://crummy.com/software/BeautifulSoup" title="Beautiful Soup: We called him Tortoise because he taught us.">Beautiful Soup</a>.</p>
	</div>	

</body>
</html>
